@import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css'); @font-face {
    font-family: 'FontAwesome';
    src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');
    src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.project-table {
    width: 100%;
    table-layout: fixed;
}

.project-table td {
    padding: 5px;
}

.project-id {
    width: 20px;
}

.project-client-id {
    width: 40px;
}

.project-status {
    width: 230px;
}

.project-payment {
    width: 70px;
}

.project-client-last-name {
    width: 100px;
}

.project-description {
    width: 250px;
}

/* LOGIN PAGE */
.login-page {
    padding: 30px 0;
}

.login-logo {
    margin: 5px 0 0;
    font-size: 36px;
    text-align: center;
}

.login-block {
    max-width: 300px;
    margin: 30px auto 50px;
}

.login-form {
    margin: 0 0 15px;
}

.login-form input {
    margin: 0 0 7px;
}

.login-form button {
    width: 100%;
}

.login-register {
    display: block;
    vertical-align: top;
    margin: 6px 0 0;
    border-radius: 4px;
    text-align: center;
}

.login-register:hover {
    text-decoration: none;
}

.login-register-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0 20px;
    font-size: 17px;
}

.login-register-text:before, .login-register-text:after {
    content: '';
    display: block;
    border-top: 1px solid #ccc;
    flex-grow: 2;
}

.login-register-text:before {
    margin-right: 3%;
}

.login-register-text:after {
    margin-left: 3%;
}

.login-footer {
    padding: 10px 5%;
    font-size: 18px;
}

/* HEADER */
.nav-block {
    background: #5bc0de;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
    background: hsla(194, 67%, 55%, 1);
}

.nav-block .btn {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    border-radius: 0;
    line-height: 50px;
}

.nav-block .navbar-form {
    margin: 0;
}

.page {
    padding: 30px 0;
    background: #fefefe;
}

table.dataTable thead>tr>th[class*="sorting"] {
    padding-right: 5px;
}

table.dataTable thead>tr>th[class*="sorting"]:after {
    content: '';
}

.project-table>thead tr {
    background: rgb(57, 140, 199);
    color: #fff;
}

.project-table th {
    padding: 10px 5px;
    text-align: center;
    font-weight: normal;
}

table.datatable {
    border-collapse: collapse !important;
}

.project-table>thead th {
    border: 1px solid rgb(27, 102, 156);
    border-bottom: 0;
}

td.child-row {
    padding-bottom: 50px;
}

.child-row form {
    margin: 0;
}

.project-table .parent-row:nth-child(4n-7) {
    background: rgba(91, 192, 222, 0.38);
}

.project-table .parent-row:nth-child(4n-5) {
    background: rgba(91, 162, 222, 0.28);
}

.project-table .project-id {
    width: 24px;
    text-align: center;
}

.project-table .project-client-id {
    width: 45px;
    text-align: center;
}

.project-table .order-table-head .project-name {
    width: 120px;
}

.project-table .order-table-head .project-description {
    width: 280px;
}

.project-table .project-payment {
    width: 64px;
    text-align: center;
}

.project-table .project-client-last-name {
    width: 210px;
    text-align: center;
}

.project-table .project-status {
    width: 100px;
}
