.project-table {
    width: 100%;
    table-layout: fixed;
}

.project-table td{
    padding: 5px;
}

.project-id {
    width:20px;
}

.project-client-id {
    width:40px;
}

.project-status{
    width: 230px;
}

.project-payment{
    width: 70px;
}

.project-client-last-name{
    width: 100px;
}

.project-description{
    width: 250px;
}